<%= stylesheet_link_tag "css/form" , :media => "all" %>
<div class="new_log">
<%= form_with(model: @blog,local: true) do |form| %>
 <%if @blog.errors.any? %>
     <div id="error_explanation">
         <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
         <ul>
             <% @blog.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
             <%end%>
         </ul>
     </div>
 <%end%>
 <p><%= notice %></p>
 <div class="blog_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
 </div>
<div class="blog_content">
    <%= form.label :content %>
    <%= form.text_area :content %>
</div>
<div class="form_fnc_btn">
<%= form.submit class: 'btn btn-primary btn-lg active' %>
<%= link_to'投稿一覧表示',blogs_path %>
</div>
<%end%>
</div>
